<?xml version="1.0"?>
<launch>

  <include 
	file="$(find hsr_description)/launch/co602_upload.launch"/>

  <include 
	file="$(find hsr_gazebo)/launch/robot_gazebo.launch"/>

  <include
	file="$(find co602_moveit_config)/launch/hsr_co602_moveit_planning_execution.launch">
	<arg name="sim" default="true"/>
  </include>

  <include 
	file="$(find hsr_bringup)/launch/moveit_rviz.launch"/>

</launch>
