<?xml version="1.0"?>
<launch>


  <arg name="robot_ip" default="192.168.99.2" />

  <rosparam file="$(find hsr_bringup)/config/joint_names.yaml" command="load"/>

  <include 
	file="$(find hsr_bringup)/launch/gripper_go.launch" />
 
  <include
        file="$(find hsr_rosi_device)/launch/robot_full_interface_download.launch">
	<arg name="robot_ip" default="$(arg robot_ip)"/>
  </include>

  <include
	file="$(find hsr_bringup)/launch/hsr_agv_moveit.launch">
  </include>

</launch>
