<launch>

<!--加载moveit 配置-->
  <include file="$(find br606_moveit_config)/launch/move_group.launch">
  </include>

<!--rviz配置文件 -->
 <arg name="rvizconfig" default="$(find hsr_bringup)/rviz/hsr_rviz.rviz" />

<!--加载模型 -->
 <param
    name="robot_description"
    textfile="$(find hsr_br606)/urdf/hsr_br606.urdf" /> 

<!--不启动的话会出现模型错乱 -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />

<!--启动rviz -->
<!--
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(arg rvizconfig)" required="true"/>
-->


<!--启动rviz -->
 <include file="$(find br606_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <include file="$(find br606_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>


</launch>
