<?xml version="1.0"?>
<launch>

  <!--include 
	file="$(find hsr_bringup)/launch/ork_interface.launch"/-->

  <!--include 
	file="$(find easy_handeye)/launch/publish.launch">
	<arg name="eye_on_hand" value="false"/>
	<arg name="namespace_prefix" value="hsr_kinect_handeyecalibration"/>
  </include>

 <include 
	file="$(find kinect2_bridge)/launch/kinect2_bridge.launch"/-->

  <node
    name="pick_server"
    pkg="hsr_pick"
    type="pick_and_place_server.py"/>

  <node
    name="gripper_sever"
    pkg="hsr_gripper_driver"
    type="gripper_control_srv"/>

  <node
    name="gripper_action"
    pkg="hsr_gripper_driver"
    type="gripper_action.py"/>
	
</launch>
